<nav class= "top-bar" data-topbar role="navegation">
<ul class="title-area">
<li class="name">
<h1><a href="">Post</a></h1>
</li>
</ul>
<section class="top-bar-section">
<ul >
<li class="has-dropdown not-click"><a href="">menu</a>
  <ul class="dropdown">
        <li class="parent-link show-for-small-only"><a class="parent-link js-generated" href="#">kkkkkkkk</a></li>
        <li class="title back js-generated"><h5><%= link_to 'Back', posts_path %></h5></li>
         
      
      <% if admin_signed_in?%>
        <li><%= link_to 'Ver',controller:'/posts',action:'index'%></li>
     
      <%else%>
        <li><%= link_to 'Ver',controller:'/posts',action:'index'%></li>
      

        <li><%= link_to 'Nuevo',controller:'/posts',action:'new'%></li>
       <li ><%=link_to"Logout",destroy_admin_session_path,method: :delete,:class=>'navbar-link'%></li>
      <%end%>
    
   </ul>    
</li>
       <li class= "divider"></li>
</ul>
    
    <ul class="right">
    
    <p class="=navbar-text pull-right">
        
        <% if user_signed_in?%>
       
        
        <font color="white">Logged in as  <strong><%=current_user.email%></strong> </font>
       
        
        <li >
        <%=link_to 'Edit profile',edit_user_registration_path, :class=>'navbar-link'%></li> 
       
            <li ><%=link_to"Logout",destroy_user_session_path,method: :delete,:class=>'navbar-link'%></li>
       
        
        
        <%else%>
        
        <% if admin_signed_in?%>
        <font color="white">  Logged in as <strong><%=current_admin.email%></strong></font>
            <li ><%=link_to 'Edit profile',edit_admin_registration_path, :class=>'navbar-link'%></li> 
            <li ><%=link_to"Logout",destroy_admin_session_path,method: :delete,:class=>'navbar-link'%></li>
        <%else%>
        
        
        
        <li><%=link_to "Sing up", new_user_registration_path,:class=>'navbar-link'%> </li>
       <li>  <%=link_to "Login", new_user_session_path,:class=>'navbar-link'%></li>
         <li>  <%=link_to "Login_admin", new_admin_session_path,:class=>'navbar-link'%></li>
         <%end%>
    <%end%>
        
    
    </p>
    </ul>
    

    
    
    
    
</section>
    
    
    
    
</nav> 