<p id="notice"><%= notice %></p>

<section class="row">
    
    
    <div class="small-6 columns">
        <h1>    Listing Posts</h1>
    </div>
        </section>

<section class="row">
    <%if !admin_signed_in? && !user_signed_in? %>
    redi
    <%end%>
    <div class="small-6 columns"> 
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
        <th>correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
          <td><%=User.find(post.user_id).email%></td>
        <td><% if  post.body %>
          <a href="#" data-reveal-id="post-<%= post.id %>">ver mas</a>
            <div id="post-<%=post.id %>" class="reveal-modal" data-reveal >
        <%=post.body%>
                <a class="close-reveal-modal">x</a>
            </div>
          <% end %>
          </td>
        
          <td><%=link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
         
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          
          
          
          
          
          
          
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
        
       
       
       
        <%if !admin_signed_in? %>
            <%= link_to 'New post', new_post_path, :class => 'default button tiny radius'  %>
        <%end%>
            <div class="small-3 columns"> </div>
        </div>
    <br>


    
</section>

