<body  >
<marquee>
<h1>New Post</h1>
</marquee>
<%= render 'form' %>
<section class="row" >
  <div class="small-4 columns">
    </div>
    <div class="small-4 columns">
    <%= link_to 'Back', posts_path %>
    </div>
     <div class="small-4 columns">
    </div>
</section>
</body>